<h1>{{name}}</h1>
<form [formGroup]="formgrp">
<label>First Name <input  formControlName="firstName"  placeholder="First Name"></label>
<br>
<br>
<label>Last Name <input  formControlName="lastName"  placeholder="Last Name"></label>
<br>
<br>
<label>age <input type="number" formControlName="age"  placeholder="Age"></label>
<div style="color:red" *ngIf="formgroupcontrols.age.errors?.required">age is required</div>
<div style="color:red" *ngIf="formgroupcontrols.age.errors?.min">age must be atleast 20</div>
<br>
<br>
<button (click)="nameChange()">Change Name</button>
</form>